<!DOCTYPE html>
<html>
    <head>
    <style>
    .mydiv {
        border: 5px outset red;
        background-color: lightblue;
        text-align: center;
        }
    .myClass {
        text-align: center;
        }
        <title>News</title>
    </style>
    </head>

    <body>
        <div class="myClass">
        <h1><u>Latest News</u></h1>
        </div>
        <div class="mydiv">
            <h2>Jade is Angry</h2> <br />
            <div><strong>{{ boldmessage }}</strong></div><br />
            <strong>{{ 2ndmessage }}</strong><br />

                <h2>Matt is Amazing</h2><br />
            <div><strong>{{ 3rdmessage }}</strong></div><br />
                <strong>{{ 4thmessage }}</strong><br />
        </div>
        <div>
            <a href="/admin/latestnews/">Admin</a><br />
        </div>
    </body>
</html>

